BasedOnStyle: LLVM
BreakBeforeBraces: Allman
ColumnLimit: 100
IndentWidth: 4
NamespaceIndentation: None
SortIncludes: Never
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never

